.about-hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--width-container);
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 5%;
  gap: 50px;
}

.about-hero-section h2 {
  color: var(--light-pink);
  font-weight: bold;
  margin-bottom: 40px;
}

.about-hero-section div {
  font-size: 18px;
  line-height: 1.7;
}

.about-hero-container a {
  text-decoration: none;
  cursor: pointer;
  color: var(--soft-black);
}

.about-hero-container a:hover {
  text-decoration: underline;
}

.about-hero-section {
  width: 50%;
  min-width: 200px;
}

.about-hero-container img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  max-width: 400px;
  min-width: 200px;
  align-self: center;
}

@media only screen and (max-width: 800px) {
  .about-hero-container {
    padding: 30px;
  }

  .about-hero-container img {
    margin: 0 auto;
  }

  .about-hero-section, .about-hero-container img {
    width: 100%;
  }

  .about-hero-section h2 {
    margin-bottom: 30px;
  }
}
