.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5%;
  gap: 50px;
}

.about-section h1 {
  margin-bottom: 40px;
}

.about-section h2 {
  color: var(--light-pink);
  font-weight: bold;
}

.about-section div {
  font-size: 18px;
  line-height: 1.7;
}

.about-section {
  width: 45%;
  min-width: 200px;
  max-width: 500px;
}

.about-container img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  max-width: 400px;
  min-width: 200px;
  align-self: center;
}

@media only screen and (max-width: 800px) {
  .about-container {
    padding: 30px;
  }

  .about-section, .about-container img {
    width: 100%;
  }

  .about-section h1 {
    margin-bottom: 30px;
  }
}
