.hero {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  max-height: 600px;
}

.hero img:first-child {
  width: 70%;
  height: auto;
  max-width: 400px;
}

.hero img:last-child {
  width: 100%;
  max-width: 800px;
  max-height: 90%;
}

.hero img:last-child {
  object-fit: cover;
}
