nav {
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(216, 183, 176, 0.1);
  height: var(--navbar-height);
  padding: 0 5%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav, .mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}

nav .logo-img {
  width: 30px;
}

nav .menu-img {
  width: 25px;
}

nav .close-img {
  width: 17px;
}

nav ul {
  display: flex;
  gap: 85px;
}

nav ul li {
  display: inline;
}

nav ul a {
  display: inline-block;
  text-decoration: none;
  color: var(--soft-black);
}

nav ul a:hover {
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  nav {
    padding: 0;
    height: auto;
    flex-direction: column;
  }

  .mobile-menu {
    display: flex;
    padding: 0 30px;
    height: var(--navbar-height-mobile);
    width: 100%;
  }

  nav ul {
    display: none;
    border-top: 1px solid rgba(216, 183, 176, 0.1);
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  nav ul a {
    padding: 12px 30px;
    width: 100%;
  }

  nav ul a:hover {
    background-color: hsla(11deg, 34%, 77%, 0.25);
  }

  nav .logo-img {
    width: 25px;
  }

  .menu-btn {
    display: inline-block;
  }
}
