.hero {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  max-height: 600px;
}

.hero img:first-child {
  width: 70%;
  height: auto;
  max-width: 400px;
}


.hero img:last-child {
  width: 100%;
  max-width: 800px;
  max-height: 90%;
}

.hero img:last-child {
  object-fit: cover;
}

.main,
.design-process,
.research > div,
.solutions > div,
.conclusion > div,
.problems {
  padding: 5%;
  max-width: var(--width-container);
  margin: 0 auto;
}

/* MAIN SECTION */
.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px 100px;
}

.main h4 {
  font-weight: bold;
  margin-bottom: 30px;
}

.main h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.additional-info span {
  display: block;
}

.description {
  grid-area: 1 / 1 / 2 / 2;
}

.challenge {
  grid-area: 2 / 1 / 3 / 2;
}

.additional-info {
  display: grid;
  grid-area: 1 / 2 / 3 / 3;
  row-gap: 20px;
}

/* DESIGN PROCESS */
.design-process h4 {
  text-align: center;
  margin-bottom: 45px;
}

.design-process img {
  width: 100%;
  padding: 0 8%;
  height: auto;
}

/* RESEARCH */
.research {
  margin: 5% 0;
}

.research, .research a {
  color: var(--white);
}

.research h4 {
  font-style: italic;
  margin-bottom: 10px;
}

/* PROBLEMS */
.problems .items-box, .problems .insights {
  width: 100%;
}

.problems .items-box h5,
.problems ul,
.insights .img-wrapper,
.insights .items-content {
  display: inline-block;
  vertical-align: top;
}

.problems .items-box h5 {
  margin-right: 50px;
  width: 100px;
}

.problems ul {
  width: 60%;
  max-width: 700px;
}

.problems li+li {
  margin-top: 15px;
}

.problems h5 {
  font-style: italic;
}

.insights {
  display: flex;
  margin-top: 15px;
}

.insights .img-wrapper {
  display: inline-flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 60%;
  padding-right: 15px;
}

.insights .items-content {
  width: 40%;
  height: min-content;
}

.insights .items-content h5 {
  margin-bottom: 10px;
}

.line-y, .line-x {
  background-color: #2E2E2E;
}

.line-y {
  width: 5px;
  height: 65%;
}

.line-x {
  width: 95%;
  height: 5px;
}

/* SOLUTIONS */
.solutions {
  margin: 5% 0;
}

.solutions h4 {
  font-style: italic;
}

.solutions .items-box {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.solutions ul {
  display: flex;
  justify-content: flex-end;
}

.solutions ul li {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  max-width: 240px;
}

.solutions ul li+li {
  margin-left: 50px;
}

.solutions .items-box span {
  font-size: 30px;
}

.solutions .items-box p {
  margin-top: 30px;
}

.solutions .sketching h4 {
  margin-bottom: 20px;
}

.solutions img {
  width: 100%;
  height: auto;
  max-width: var(--width-container);
  margin: 0 auto;
  display: block;
}

/* CONCLUSION */
.conclusion {
  margin: 5% 0;
}

.conclusion h4 {
  font-style: italic;
}

.conclusion h4, .conclusion p {
  margin-bottom: 20px;
}
.conclusion ul {
  margin-left: 10px;
}

.conclusion li {
  line-height: 2;
}

@media only screen and (max-width: 800px) {
  /* MAIN SECTION */
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px 0;
  }

  .main h4 {
    margin-bottom: 20px;
  }

  .description {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .additional-info {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .challenge {
    grid-area: 3 / 1 / 4 / 2;
  }

  .additional-info {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 25px 30px;
  }

  .goals {
    grid-area: 1 / 1 / 2 / 2;
  }

  .roles {
    grid-area: 1 / 2 / 2 / 3;
  }

  .tools {
    grid-area: 1 / 3 / 3 / 4;
  }

  .team {
    grid-area: 2 / 1 / 3 / 2;
  }

  .duration {
    grid-area: 2 / 2 / 3 / 3;
  }

  /* DESING PROCESS */
  .design-process h4 {
    margin-bottom: 30px;
  }
  
  .design-process img {
    padding: 0;
  }

  /* PROBLEMS */
  .problems .items-box h5 {
    margin-right: 5%;
  }

  .insights .items-content {
    width: 70%;
  }

  /* SOLUTIONS */
  .solutions .items-box {
    gap: 10%;
    padding-top: 10%;
  }

  .solutions .items-box h4 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .solutions ul {
    flex-direction: column;
    width: 60%;
    gap: 20px;
  }

  .solutions ul li {
    display: flex;
    width: auto;
    max-width: unset;
  }

  .solutions ul li+li {
    margin-left: 0;
  }

  .solutions .items-box span {
    font-size: 20px;
  }

  .solutions .items-box p {
    font-size: 15px;
    margin-top: 0;
    margin-left: 25%;
  }

  /* CONCLUSION */
  .conclusion {
    padding-top: 10%;
    padding-bottom: 10%;
  }
};
