:root {
  /* COLORS */
  --white: #fff;
  --light-pink: #D8B7B0;
  --light-grey: #FCFCFC;
  --soft-orange: #F4BA79;
  --soft-tile: #89D2BF;
  --soft-black: #272727;
  --dark-grey: #404040;
  --dark-orange: #EB6658;

  /* NAVBAR */
  --navbar-height: 80px;
  --navbar-height-mobile: 60px;

  /* FOOTER */
  --footer-height: 230px;

  /* SIZES */
  --width-container: 1200px;
}

/* FONTS */
@font-face {
  font-family: 'Avenir';
  font-weight: normal;
  font-style: normal;
  src: url('/src/assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: bold;
  font-style: normal;
  src: url('/src/assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: normal;
  font-style: italic;
  src: url('/src/assets/fonts/AvenirNextLTPro-It.otf') format('opentype');
}

body {
  background-color: var(--light-grey);
  color: var(--soft-black);
}

#root {
  display: flex;
  flex-direction: column;
  min-height:100vh;
}

* {
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

.app-container {
  flex: 1;
  margin-top: var(--navbar-height);
}

h1 {
  font-size: 70px;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

h3 {
  font-size: 35px;
  font-weight: normal;
}

h4 {
  font-size: 30px;
  font-weight: normal;
}

h5 {
  font-size: 20px;
  font-weight: normal;
}

h6 {
  font-weight: normal;
}

p {
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  .app-container {
    margin-top: var(--navbar-height-mobile);
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }
  
  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}

/* UTILITY CLASSES */
.is-flex {
  display: flex !important;
}

.is-inline-block {
  display: inline-block;
}
